<footer class="footer mt-6">
    <div class="footer-large container mx-auto">
        {{ N9_area('footer') }}
    </div>
    <div class="bottom-bar">
        <div class="container standard-container">
            <span>&copy; NumberNine</span>
        </div>
    </div>
</footer>
{{ N9_component('Footer/PhotoSwipe') }}
