<section class="section {{ color }}"{{ styles|raw }}>
    <div class="section-background"{{ backgroundStyles|raw }}>
    </div>
    <div class="section-content">
        {{ content|raw }}
    </div>
</section>
