{% verbatim %}
<section class="section"
         :class="parameters.color"
         :style="{padding: parameters.padding, margin: parameters.margin}">
    <div
        class="section-background"
        :style="{
            backgroundColor: parameters.backgroundColor,
            backgroundImage: 'url(' + computed.background?.path + ')',
            backgroundPosition: parameters.backgroundPosition
        }">
    </div>
    <div
        class="section-content"
        :class="parameters.container ? 'container mx-auto px-3' : ''"
    >
        <PageBuilderComponent v-for="component in children" :key="component.id" :component="component" />
    </div>
</section>
{% endverbatim %}
