{% verbatim %}
<a class="btn"
   :class="[
       'btn-color-' + parameters.color,
       'btn-style-' + parameters.style,
       'btn-case-' + parameters.case,
       'btn-size-' + parameters.size,
       parameters.custom_class,
       {
           'btn-width-expand': parameters.expand,
       },
   ]"
   :href="parameters.link"
>
    {{ parameters.text }}
</a>
{% endverbatim %}
