{% if paginator %}
    <div class="pagination">
        {% for i in 1..paginator.lastPage %}
            <a href="{{ N9_page(i) }}"{% if paginator.currentPage == i %} class="active"{% endif %}>{{ i }}</a>
        {% endfor %}
    </div>
{% endif %}
