/*!
 * This file is part of the NumberNine package.
 *
 * (c) William Arin <williamarin.dev@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

//$backgroundColor: var(--secondary);
//$backgroundColorRgb: rgb(red($backgroundColor), green($backgroundColor), blue($backgroundColor));

.divider {
    @apply block w-full;
    background-color: rgba(var(--color-secondary-rgb), 0.25);
    height: 3px;
    margin: 1em 0 1em;
    max-width: 30px;
}
