{% verbatim %}
<div
    class="flex"
    :class="'justify-' + parameters.align.replace('left', 'start').replace('right', 'end')">
    <div
        class="divider"
        :style="{
            height: parameters.height+'px',
            maxWidth: parameters.fullWidth ? '100%' : parameters.width+'px',
            margin: parameters.margin,
            backgroundColor: parameters.color
        }">
    </div>
</div>
{% endverbatim %}
