{% verbatim %}
<div :class="[
        'col-span-' + (parameters.span.toString().match(/1\/(\d+?)/) ? 12/parameters.span.toString().match(/1\/(\d+?)/)[1] : (parseInt(parameters.span) <= 12 ? parameters.span : 12)),
        'relative',
        {
            'p-3': children && children.length > 0,
            'p-5': !(children && children.length > 0),
        }
    ]">
    <PageBuilderComponent v-for="component in children" :key="component.id" :component="component" />
</div>
{% endverbatim %}
