{% for attribute, value in attributes %}
    <div class="product-attribute">
        <div class="name">{{ attribute }}</div>
        <div class="value col-span-2">{{ value }}</div>
    </div>
{% endfor %}
