{% verbatim %}
<nav class="topbar" :style="{height: parameters.height + 'px'}" v-if="parameters.enabled">
    <div class="container justified-container">
        <PageBuilderComponent v-for="component in children" :key="component.id" :component="component" />
    </div>
</nav>
{% endverbatim %}
