/*!
 * This file is part of the NumberNine package.
 *
 * (c) William Arin <williamarin.dev@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.btn {
    @apply font-bold py-2 px-4;
}

.btn-primary {
    @apply text-white;
    background-color: var(--primary);

    &:hover {
        background-color: rgba(var(--primary-rgb), 0.8);
    }
}

.btn-outline {
    @apply border-2 bg-transparent;

    &.btn-primary {
        border-color: var(--primary);
        color: var(--primary);

        &:hover {
            @apply bg-blue-500 text-white;
            background-color: var(--primary);
            color: white;
        }
    }
}
