/*!
 * This file is part of the NumberNine package.
 *
 * (c) William Arin <williamarin.dev@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.btn-outline {
    @apply border-2 bg-transparent;

    &.btn-primary {
        border-color: var(--color-primary);
        color: var(--color-primary);

        &:hover {
            @apply bg-blue-500 text-white;
            background-color: var(--color-primary);
            color: white;
        }
    }
}
