{% verbatim %}
<div>
    <div v-if="!computed.id">Select a menu</div>
    <ul v-else class="menu">
        <li v-for="item in computed.id.menuItems" :key="item.uid" class="menu-item menu-item-top-level">
            <a href="">{{ item.title }}</a>
        </li>
    </ul>
</div>
{% endverbatim %}
