{% extends N9_base_template() %}

{% block body %}
    <div class="container standard-container">
        <main class="page-main px-3">
            {{ N9_component('Page/SinglePage', {page: entity}) }}
        </main>
    </div>
{% endblock %}
