<div>
    <h3>{{ title }}</h3>
    {% if posts|length > 0 %}
        <ul class="list-none">
            {% for post in posts %}
                <li class="mb-2">
                    <a href="{{ N9_entity_url(post) }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recent posts.</p>
    {% endif %}
</div>
