{#
This is the default template used when no other template exists or when homepage isn't defined.
#}

{% extends N9_base_template() %}

{% block body %}
    <div class="container standard-container">
        <div class="grid grid-cols-4 gap-5">
            <main class="blog-main col-span-3">
                {% for post in entities %}
                    {{ N9_component('Post/PostCard', {post: post}) }}
                {% endfor %}
                {{ N9_shortcode('[pagination]') }}
            </main>
            <aside class="blog-sidebar">
                {{ N9_area('blog_sidebar') }}
            </aside>
        </div>
    </div>
{% endblock %}
