{#
This is the default template used when no other template exists or when homepage isn't defined.
#}

{% extends N9_base_template() %}

{% block body %}
    <div class="container standard-container">
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-5 px-3">
            <main class="post-main col-span-1 lg:col-span-3">
                {{ N9_component('Post/SinglePost', {post: entity}) }}
            </main>
            <aside class="post-sidebar col-span-1">
                {{ N9_area('blog_sidebar') }}
            </aside>
        </div>
    </div>
{% endblock %}
