/*!
 * This file is part of the NumberNine package.
 *
 * (c) William Arin <williamarin.dev@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.title {
    @apply relative flex flex-row flex-wrap font-semibold items-center w-full uppercase text-secondary-700;

    &.title-style-left {
        @apply justify-start border-b-2 border-solid border-secondary border-opacity-10;

        span {
            @apply pb-2 border-b-2 border-solid border-opacity-10 border-black;
            margin-bottom: -2px;
        }
    }

    &.title-style-center {
        @apply relative overflow-hidden justify-center;

        span {
            @apply relative px-3 inline-block align-baseline;

            &:before, &:after {
                @apply block absolute top-1/2 border-opacity-10 border-t-2 border-solid border-secondary;
                width: 1000px;
                content: '';
            }

            &:before {
                @apply right-full;
            }

            &:after {
                @apply left-full;
            }
        }
    }

    &.title-size-xsmall {
        @apply text-lg;
    }

    &.title-size-small {
        @apply text-xl;
    }

    &.title-size-normal {
        @apply text-2xl;
    }

    &.title-size-large {
        @apply text-3xl;
    }

    &.title-size-xlarge {
        @apply text-4xl;
    }

    &.title-size-xxlarge {
        @apply text-5xl;
    }
}
