{% verbatim %}
<component
    :is="parameters.tag"
    :style="[{
        color: parameters.color,
    }]"
    class="title"
    :class="[
        'title-style-' + parameters.style,
        'title-size-' + parameters.size,
    ]"
>
    <span>{{ parameters.text }}</span>
</component>
{% endverbatim %}
